<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="/JS/script.js"></script>
    <link rel="shortcut icon" type="image/jpg" href='/favicon.jpeg'/>
    <title>Video Game Log</title>
</head>
<body>
    <%- body %>
    <script src="/JS/post.js"></script>
</body>
<footer>&copy; Copyright 2021 Kevin McLaughlin</footer>
</html>