<h1>You have hit the new route</h1>

<form action="/games" method='POST'>
    <label for="title">Name of Game:</label>
    <input type="text" name='title' required>

    <label for="description">Give a brief description:</label>
    <textarea type="text" name="description" rows="5", cols="160"></textarea>

    <label for="rating">What is the ERSB rating?</label>
    <input type="text" name="rating">

    <label for="img">Go grab an image url and paste it here:</label>
    <input type="text" name="img">

    <input type="submit">
    <a href="/games" class = 'button'>Cancel</a>
</form>