<h1>You hit the review route</h1>

<form action="/games/<%= routeId %>" method='POST'>
    <label for="title">Title:</label>
    <input type="text" name='title'>

    <label for="body">Leave your review here:</label>
    <input type="text" name="body" required>

    <label for="score">What do you give this game out of 5?</label>
    <input type="number" name="score" min='0' max = '5' required>

    <label for="reviewer">What's your first name?</label>
    <input type="text" name="reviewer" required>

    <input type="submit">
    <a href="/games/<%=routeId %>">Cancel</a>
</form>